body {
    background-color: #3b82f6;
    margin: 0;
    padding: 0;
}

.home {

    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3rem;
    color: #fff;
}

section h1 {
    font-size: 40px;
    padding-bottom: 20px;
    color: #fff;
}

section p {
    padding-top: 15px;
    font-size: 30px;
}

.botao {
    width: 13rem;
    padding: 1.2em 0; /* Ajuste de padding para aumentar o tamanho dos bot천es */
    font-size: 1.1em; /* Aumenta o tamanho da fonte */
    background-color: #1245b3; /* Cor de fundo dos bot천es */
    color: #ffffff; /* Cor do texto dos bot천es */
    border: none; /* Remover borda */
    border-radius: 8px; /* Borda arredondada */
    transition: background-color 0.1s ease, transform 0.1s ease; 
}
.botao:hover{
    background-color: rgb(27, 60, 150);; /* Cor do bot찾o ao passar o mouse */
    cursor: pointer;
}

.piano {
    background-color: #121212;
    width: 1200px;
    height: 265px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
}

.teclas {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;

}

.branca {
    background-color: white;
    flex-grow: 1;
    border-radius: 5px;
    border-bottom: 8px solid #ddd;
    margin-left: -17px;
    z-index: 1;
    color: #333;

}

.tecla {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    user-select: none;
    cursor: pointer;
}

.preta {
    width: 40px;
    background: linear-gradient(black, #333);
    height: 120px;
    border-radius: 0 0 5px 5px;
    border-bottom: 8px solid #222;
    margin-left: -20px;
    z-index: 2;
}

.teclas .branca:nth-child(1) {
    margin-left: 0px;
}

.teclas .branca:nth-child(5) {
    margin-right: 20px;
}

.teclas .branca:nth-child(12) {
    margin-right: 20px;
}

.teclas .branca:nth-child(17) {
    margin-right: 20px;
}

.teclas .branca:nth-child(24) {
    margin-right: 20px;
}

.branca-pressionada {
    background-color: #ddd;
    border-Bottom: none;
}

.preta-pressionada {
    background: linear-gradient(#222, black);
    border-Bottom: none;
}

.teclaBrancaCorreta {
    background:linear-gradient(#ddd,rgb(23, 69, 194));
    border-Bottom: none;
   
}
.teclaPretaCorreta {
    background: linear-gradient(#222, rgb(23, 69, 194));
    border-Bottom: none;
    
}
.teclaBrancaErrada {
    background:linear-gradient(#ddd,rgb(250, 3, 3));
    border-Bottom: none;
   
}
.teclaPretaErrada {
    background: linear-gradient(#222, rgb(250, 3, 3));
    border-Bottom: none;
    
}