body {
    background-color: #3b82f6;
    margin: 0;
    padding: 0;
}

.home {

    padding-top: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.3rem;
    color: #fff;
}
.botoes-e-tentativas {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os elementos */
    align-items: center; /* Alinha verticalmente ao centro */
    width: 100%;
}

.botoes {
    display: flex;
    gap: 1rem; /* Espaçamento entre os botões */
   margin-left: 28rem;
}

.tentativas {
    text-align:justify; /* Alinha o texto à direita */
    margin-right: 8rem;
}
.tentativas h3 {
    font-size: 2.1rem;
}

section h1 {
    font-size: 40px;
    padding-bottom: 10px;
    color: #fff;
}

section p {
    padding-top: 15px;
    font-size: 30px;
}

.botao {
    width: 13rem;
    padding: 1.2em 0; /* Ajuste de padding para aumentar o tamanho dos botões */
    font-size: 1.1em; /* Aumenta o tamanho da fonte */
    background-color: #1245b3; /* Cor de fundo dos botões */
    color: #ffffff; /* Cor do texto dos botões */
    border: none; /* Remover borda */
    border-radius: 8px; /* Borda arredondada */
    transition: background-color 0.1s ease, transform 0.1s ease; 
}
.botao:hover{
    background-color: rgb(27, 60, 150);; /* Cor do botão ao passar o mouse */
    cursor: pointer;
}

.teclaBrancaCorreta {
    background:linear-gradient(#ddd,rgb(23, 69, 194));
    border-Bottom: none;
   
}
.teclaPretaCorreta {
    background: linear-gradient(#222, rgb(23, 69, 194));
    border-Bottom: none;
    
}
.teclaBrancaErrada {
    background:linear-gradient(#ddd,rgb(250, 3, 3));
    border-Bottom: none;
   
}
.teclaPretaErrada {
    background: linear-gradient(#222, rgb(250, 3, 3));
    border-Bottom: none;
    
}